<main>

    <h1>Map of places</h1>

    <hr>

    <a class="btn btn-secondary" href="/" role="button">Back to Home</a>

    <hr>

    <div id="myMap"></div>


    <script src="../../js/directions.js"></script>
    <script src="../../js/mapStyles.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="../../js/map-setup.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key={{APIKey}}&callback=initMap"></script>

</main>