<h1>Welcome to {{title}}, Ironhacker 🚀!</h1>

<a class="btn btn-info" href="/places" role="button">Search places</a>
<br>
<a class="btn btn-info" href="/places/create" role="button">Create a new place</a>
<br>
<a class="btn btn-info" href="/places/map" role="button">See a map of places</a>
