body {
  padding: 50px;
  font: 14px 'Lucida Grande', Helvetica, Arial, sans-serif;
}

a {
  color: #00b7ff;
}

h1 {
  color: 15px;
}

#myMap {
  background-color: grey;
  height: 350px;
}

.btn-info {
  margin-bottom: 5px;
}

.btn-danger {
  margin-bottom: 5px;
}
